@font-face {
    font-family: 'Aduma';
    src: url(./fonts/Aduma_Regular.ttf);
}

.remove_bg_main{
    border: 1px solid black;
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    margin-top: 200px;
    background-color: #222A34;
    border-radius: 15px;
    position: relative;
}

.header_cont{

}

.close{
    margin-top: 15px;
    margin-left: 15px;
}

.main_title{
    color: white;
    text-align: right;
    margin-right: 40px;
    font-family: 'Aduma';
    font-size: 40px;
    width: 400px;
    float: right;
}

.upload_btn{
    background-color: #475366;
    border: 0;
    color: #ffffff8f;
    border-radius: 50px;
    padding: 8px;
    width: 130px;
    margin-left: 25px;
    margin-top: 26px;
    background-image: url(./assets/Upload.png);
    background-repeat: no-repeat;
    background-position: 10px 8px;

}

.header_text{
    color: #ffffffab;
    direction: rtl;
    width: 160px;
    top: 60px;
    position: absolute;
    left: 185px;
}

.middle_cont{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: center;
    gap: 6px;
}

.right_div{
    width: 29%;
    height: 626px;
    border-radius: 10px;
    background-color: #2F3A4B;
}


.left_div{
    width: 69%;
    height: 626px;
    border-radius: 10px;
    background-color: #2F3A4B;
    position: relative;
}


.footer_cont{
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
    margin-right: 8px;
    margin-left: 15px;
}

.banner{
    width: 808px;
}

.left_div_inner, .right_div_inner{
    height: 80%;
    margin-top: 64px;
    background-color: #161B21;
}

.tabs_cont{
    position: absolute;
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    width: 100%;
    gap: 0;
    margin-top: 20px;
    right: 0;
    font-family: 'Aduma';
}

.tabs_1,.tabs_2{
    width: 130px;
    text-align: center;
    cursor: pointer;
}

.tab_selected{
    border-bottom: 3px solid #9C27B0;
    padding-bottom: 12px;
}

.tabs_1{
    background-image: url(./assets/CleanupEdges.png);
    background-repeat: no-repeat;
    background-position: 90% 10px;
}

.tabs_2{
    background-image: url(./assets/Image.png);
    background-repeat: no-repeat;
    background-position: 90% 10px;
}

.upload_btn_takanon{
    background-color: #475366;
    border: 0;
    color: #ffffff8f;
    border-radius: 50px;
    padding: 8px;
    width: 130px;
    margin-left: 25px;
    margin-top: 16px;
    background-image: url(./assets/eula.png);
    background-repeat: no-repeat;
    background-position: 13px 10px;
    cursor: pointer;
}

.left_div_footer{
    position: relative;
}


.takanon_text{
    color: #ffffff87;
    position: absolute;
    top: 25px;
    right: 7px;
    direction: rtl;
}

.popup_eula{
    background-color: white;
    width: 437px;
    height: 427px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
}

.popup_dowbload{
    background-color: white;
    width: 637px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 6px;
}

.layout{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000c4;
}

.close_eula_popup{
    color: red;
    cursor: pointer;
}

.popup_download_title{
    color: #1a3a53;
    font-size: 50px;
    text-align: center;
    font-family: 'Aduma';
}

.top_div_download{
    width: 75px;
    height: 75px;
    position: absolute;
    top: -41px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    box-shadow: 1px 1px 10px #673ab759;
    border-radius: 5px;
}

.download_folder{
    width: 80%;
    margin-left: 7px;
    margin-top: 7px;
}

.popup_download_subtitle{
    color: #1a3a53;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    direction: rtl;
}

.not_robot_cont{
    display: flex
;
    flex-direction: row-reverse;
    margin-right: 85px;
    gap: 10px;
    margin-top: 37px;
}

.not_robot_subtitle {
    color: #1a3a53;
    text-align: center;
    font-size: 15px;
    /* margin-top: 20px; */
    direction: rtl;
}

.not_robot{
    width: 15px;
    height: 15px;
}